//Colors
$red: #E23B46;
$black: #141213;
$darkGrey: //#7C7C7C; 
    #232021;
$grey: #B5B5B5;

//Media Query
$xxs: 479px;
$xs : 768px;
$sm: 992px;
$md: 1200px;
$lg: 1600px;

//Font Family
$headerFont: 'Fredoka One', sans-serif;
$textFont: 'Raleway', sans-serif;